
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Account</h2>

  Sur Name:<input type="text" value="" id="surname" class="form-control" />
 

  First Name:<input type="text" value="" id="firstname" class="form-control" />
 
 Adress 1:<input type="text" value="" id="address" class="form-control" />
 
 Adress 2:<input type="text" value="" id="alteraddress" class="form-control" />
 
 City:<input type="text" value="" id="city" class="form-control" />
 
 Postal code:<input type="text" value="" id="postalcode" class="form-control" />
 

<h2>Billing address</h2>

 Adress 1:<input type="text" value="" id="baddress" class="form-control" />
 
 Adress 2:<input type="text" value="" id="balteraddress" class="form-control" />
 
 City:<input type="text" value="" id="bcity" class="form-control" />
 
 Postal code:<input type="text" value="" id="bpostalcode" class="form-control" />
 
Day Phone:<input type="text" value="" id="dayphone" class="form-control" />
 
Mobil:<input type="text" value="" id="mobilphone" class="form-control" />
 
Email:<input type="text" value="" id="email" class="form-control" />
 
whatsapp:<input type="text" value="" id="whatsapp" class="form-control" />
 
User Name:<input type="text" value="" id="username" class="form-control" />
 
Password:<input type="text" value="" id="password" class="form-control" />
 
Re Enter Password:<input type="text" value="" id="repassword" class="form-control" />
 

<input type="button" value="SUBMIT" class="btn btn-primary btn-sm" /> 