
@{
    ViewBag.Title = "Create User Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title </h4>
Name:<input type="text" value="" id="username" class="form-control" />
Email:<input type="text" value="" id="email" class="form-control" />
Password:<input type="text" value="" id="password" class="form-control" />
Re Enter Password:<input type="text" value="" id="repassword" class="form-control" />
<br>
<input type="button" value="SUBMIT" id="subaccount" class="btn btn-primary btn-sm" /> 

