@{
    ViewBag.Title = "Tigre Trader";
}
<h2> @ViewBag.Title</h2>
Auto_Haus1 +112% Followers 14 Following 21
<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<input type="button" value="Portafolio" class="btn btn-primary btn-sm" />
<input type="button" value="Podium" class="btn btn-primary btn-sm" />
<input type="button" value="Trade" class="btn btn-primary btn-sm" />
<input type="button" value="Followers" class="btn btn-primary btn-sm" />
<input type="button" value="Following" class="btn btn-primary btn-sm" />