
@{
    ViewBag.Title = "Payment Method";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Method</h2>

  Method of Payment:<input type="text" value="" id="methodpayment" class="form-control" />


Expiration Date:<input type="text" value="" id="expdate" class="form-control" />
Card Holder Name:<input type="text" value="" id="cardHoldername" class="form-control" />
Card Number:<input type="text" value="" id="cardnumber" class="form-control" />
CCV:<input type="text" value="" id="cardnumber" class="form-control" />
<br />
<input type="button" value="SUBMIT" class="btn btn-primary btn-sm" /> 